
body {
    padding-top: 55px;
}

.navbar-brand.logo {
    padding: 0;
}

.navbar-brand.logo img {
    max-height: 50px;
    padding: 5px;
}

.AceEditor  {
	/*min-height: 200px;*/
	height: 100%;
}

.resizable {
	margin-left: 4px;
	margin-right: 4px;
}

.resizable .AceEditor
{
	padding-left: 3px;
	padding-right: 3px;
	border: 1px solid #eee;
	background: none repeat scroll 0 0 #fff;
	width: 100%;
}

.FixedWidth
{
	width: 100%;
}
 
.FloatingLabel
{
	border: 1px solid #ccc;
	margin: 2px;
	padding: 1px 3px;
	position: absolute;
	right: 3px;
	top: 3px;
	z-index: 1;
}



.HtmlPanel,
.CssPanel,
.JsPanel,
.BindingsPanel {
	border: 1px solid #c0c0c0;
	box-shadow: 0 1px 3px #e4e4e4 inset;
	margin: 2px;
}

.BottomPanel {
	border: 1px solid #000;
	margin-top: 5px;
}

.BindingsPanel {
    margin-left: 2px;
    /*margin-right: 14px;*/
	height: 200px;
}

.HtmlPanel,
.CssPanel,
.JsPanel {
	height: 100%;
}

.BindingsPanel, .TopPanel  {
	width: 100%;
}

.TopPanel
{
	margin-bottom: 5px;
	height: 250px;
}

.InsidePanel {
	height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
	position: relative;
	margin: 2px;
	padding-bottom: 3px;
}

.BottomPanel,
.BottomPanel > div,
.BottomPanel > div > div,
.BottomPanel > div > div > div,
.BottomPanel > div > div > div > iframe,
#IFrameResult,
#IFrameResult-IFrameApplication
{
	width: 100%;
	height: 100%;
}


#IFrameResult-IFrameApplication
{
	min-height: 600px;
}

#MainView-SelectSamples {
	max-width: 100%;
}

.TogglePanel.ui-state-disabled { opacity:1; }




